[submodule "libs/phobos-elements"]
	path = libs/phobos-elements
	url = https://github.com/PRIM-EDV/phobos-elements
[submodule "libs/protocol"]
	path = libs/protocol
	url = https://github.com/PRIM-EDV/lsx-protocol
[submodule "libs/core"]
	path = libs/core
	url = https://github.com/PRIM-EDV/phobos-core
