<ph-form>
    <ph-button-select [label]="'State'" [(value)]="lockdownState" (valueChange)="updateServerBaseState()">
        <ph-button [value]="'lockdown'">LOCKDOWN</ph-button>
        <ph-button [value]="'normal'">NORMAL</ph-button>
    </ph-button-select>
    <ph-button-select [label]="'Automatic lockdown'" [(value)]="autoLockdown" (valueChange)="updateAutoLockdown()">
        <ph-button [value]="'off'">OFF</ph-button>
        <ph-button [value]="'on'">ON</ph-button>
    </ph-button-select>
    <ph-button-select [label]="'Play announcements'" [(value)]="lockdownAnnouncements" (valueChange)="updateLockdownAnnouncements()">
        <ph-button [value]="'off'">OFF</ph-button>
        <ph-button [value]="'on'">ON</ph-button>
    </ph-button-select>
</ph-form>