<ph-form>
        <ph-button-select [label]="'MAPTOOL'" [(value)]="maptoolPowerState" (valueChange)="onMaptoolPowerStateChange($event)">
            <ph-button [value]="powerState.POWER_STATE_POWERED">POWERED</ph-button>
            <ph-button [value]="powerState.POWER_STATE_UNPOWERED">UNPOWERED</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'BASETOOL'" [(value)]="basetoolPowerState" (valueChange)="onBasetoolPowerStateChange($event)">
            <ph-button [value]="powerState.POWER_STATE_POWERED">POWERED</ph-button>
            <ph-button [value]="powerState.POWER_STATE_UNPOWERED">UNPOWERED</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'CIC COFFEE MACHINE'" [(value)]="cicCoffee" (valueChange)="onLightDevicePowerStateChange(powerDevice.DEVICE_CIC_COFFEE, $event)">
            <ph-button [value]="powerState.POWER_STATE_POWERED">POWERED</ph-button>
            <ph-button [value]="powerState.POWER_STATE_UNPOWERED">UNPOWERED</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'IRD RAPIDCARE'" [(value)]="sciRapidCare" (valueChange)="onLightDevicePowerStateChange(powerDevice.DEVICE_IRD_RAPIDCARE, $event)">
            <ph-button [value]="powerState.POWER_STATE_POWERED">POWERED</ph-button>
            <ph-button [value]="powerState.POWER_STATE_UNPOWERED">UNPOWERED</ph-button>
        </ph-button-select>
        <ph-button-select [label]="'MED OP'" [(value)]="medOpRapidCare" (valueChange)="onLightDevicePowerStateChange(powerDevice.DEVICE_MED_OP_ROOM, $event)">
            <ph-button [value]="powerState.POWER_STATE_POWERED">POWERED</ph-button>
            <ph-button [value]="powerState.POWER_STATE_UNPOWERED">UNPOWERED</ph-button>
        </ph-button-select>
</ph-form>