<div class="content">
    <div class="row">
        <ph-window [title]="'BASE POWER GRID'" [subtitle]="'GRD8015'" style="min-height: 0;">
            <light-control></light-control>
        </ph-window>
    </div>
    <div class="row">
        <ph-window [title]="'POWER PLANT'" [subtitle]="'TR2805'" style="min-height: fit-content;">
            <app-power-plant></app-power-plant>
        </ph-window>
        <ph-window [title]="'BASE DEVICE POWER'" [subtitle]="'GRD8015'" style="min-height: fit-content;">
            <power-control></power-control>
        </ph-window>
        <ph-window [title]="'ANNOUNCEMENT'" [subtitle]="'RG6523'" style="min-height: 0;">
            <speaker-announcements></speaker-announcements>
        </ph-window>
    </div>
</div>