<ph-form>
    <ph-button-select [label]="'Mode silent'" [(value)]="modeSilentState" (valueChange)="updateRemoteModeSilentSate()">
        <ph-button [value]="'normal'">NORMAL</ph-button>
        <ph-button [value]="'silent'">SILENT</ph-button>
        <ph-button [value]="'silent drone'">SILENT DRONE</ph-button>
    </ph-button-select>
    <ph-command-list [label]="'Play warning'">
        <ph-button (click)="playSound('DROHNE-vorwarnung.wav')">INCOMING</ph-button>
        <ph-button (click)="playSound('DROHNE-warnung-aufgehoben.wav')">SAFE</ph-button>
    </ph-command-list>
</ph-form>

<ph-table [label]="'Recordings'">
    <tr>
        <th style="width: 32px;">ID</th>
        <th>File</th>
        <th style="width: 64px;">Command</th>
    </tr>
    <tr *ngFor="let item of droneSounds; index as idx">
        <td>{{idx}}</td>
        <td>{{item.label}}</td>
        <td><ph-button [value]="item.file" (click)="playSound(item.file)">PLAY</ph-button></td>
    </tr>
</ph-table>

<ph-table [label]="'Bombs'">
    <tr>
        <th style="width: 32px;">ID</th>
        <th>File</th>
        <th style="width: 64px;">Command</th>
    </tr>
    <tr *ngFor="let item of bombSounds; index as idx">
        <td>{{idx}}</td>
        <td>{{item.label}}</td>
        <td><ph-button [value]="item.file" (click)="playSound(item.file); bombBase()">FIRE!</ph-button></td>
    </tr>
</ph-table>