<div class="content">
    <!-- <ph-window *ngIf="this.tab == 'GNRL'" [title]="'POWER PLANT'" [subtitle]="'TR2805'" style="grid-row:1/5; grid-column: 1/38">
        <app-power-plant></app-power-plant>
    </ph-window>


    <ph-window *ngIf="auth.role == 'admin' && this.tab == 'GNRL'" [title]="'LOCKDOWN'" [subtitle]="'TR2805'" style="grid-row:1/6; grid-column: 38/58">
        <base-lockdown></base-lockdown>
    </ph-window>
 -->
    <ph-window [title]="'BASE DEVICE POWER'" [subtitle]="'GRD8015'" style="grid-row:5/12; grid-column: 1/38">
        <power-control></power-control>
    </ph-window>
    <ph-window [title]="'ANNOUNCEMENT'" [subtitle]="'RG6523'" style="grid-row:1/11; grid-column: 38/58">
        <speaker-announcements></speaker-announcements>
    </ph-window>
    <ph-window [title]="'FLUFF'" [subtitle]="'TR2805'" style="grid-row:19/36; grid-column: 38/58">
        <speaker-fluff></speaker-fluff>
    </ph-window>
    <ph-window [title]="'BASE POWER GRID'" [subtitle]="'GRD8015'" style="grid-row:12/36; grid-column: 1/38">
        <light-control></light-control>
    </ph-window>
    <!-- <ph-window *ngIf="auth.role == 'admin' && this.tab == 'DRONE'" [title]="'EXPLOSIONS'" [subtitle]="'TR2805'" style="grid-row:1/32; grid-column: 1/46">
        <drone-bombardment></drone-bombardment>
    </ph-window> -->
    <!-- <ph-window *ngIf="auth.role == 'admin' && this.tab == 'DRONE'" [title]="'DRONE'" [subtitle]="'TR2805'" style="grid-row:1/16; grid-column: 46/66">
        <drone-control></drone-control>
    </ph-window> -->
</div>